In [1]:
import sys 
import os 
sys.path.insert(0, os.path.dirname(os.getcwd()))

In [2]:
from utils import get_connection
import pandas as pd

In [3]:
con = get_connection(database='xiaohongshu')

connecting to rm-uf6lfxk83h7onjmwvjo.mysql.rds.aliyuncs.com3306/xiaohongshu

In [5]:
pd.read_sql("show tables ",con)

/var/folders/nx/d8ckq9qd7l3dz5plmv5gdj_40000gn/T/ipykernel_40167/3646478579.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("show tables ",con)

           Tables_in_xiaohongshu
0            preprocessed_202304
1            preprocessed_202305
2            preprocessed_202306
3            preprocessed_202307
4            preprocessed_202308
5            preprocessed_202309
6            preprocessed_202310
7            preprocessed_202311
8            preprocessed_202312
9         preprocessed_q1_202301
10        preprocessed_q1_202302
11        preprocessed_q1_202303
12        preprocessed_q2_202304
13        preprocessed_q2_202305
14        preprocessed_q2_202306
15        preprocessed_q3_202307
16        preprocessed_q3_202308
17        preprocessed_q3_202309
18        preprocessed_q4_202310
19        preprocessed_q4_202311
20        preprocessed_q4_202312
21                 raw_q1_202301
22                 raw_q1_202302
23                 raw_q1_202303
24                 raw_q2_202304
25                 raw_q2_202305
26                 raw_q2_202306
27                 raw_q3_202307
28                 raw_q3_202308
29                 raw_q3_202309
30                 raw_q4_202310
31                 raw_q4_202311
32                 raw_q4_202312
33                  sample_v0506
34                   tag_kwd_all
35        tag_kwd_character_type
36  tag_kwd_emotional_atmosphere
37         tag_kwd_food_category
38            tag_kwd_food_usage
39        tag_kwd_is_retail_food
40        tag_kwd_macro_occasion
41        tag_kwd_micro_occasion
42             tag_kwd_painpoint
43            tag_kwd_text_topic
44             tag_kwd_text_type
45                  tag_kwd_time
46       tag_kwd_topic_relevance
47                  tag_kwd_when
48                 tag_kwd_where
49         tagged_content_sample
50   tagged_content_sample_v0506

In [13]:
df_dictionary = pd.read_sql("select * from tag_kwd_all", con = con)
df_dictionary

/var/folders/nx/d8ckq9qd7l3dz5plmv5gdj_40000gn/T/ipykernel_40167/2939318657.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_dictionary = pd.read_sql("select * from tag_kwd_all", con = con)

      tag_category tag_value        keyword
0             人物类型    目标消费群体  爱吃又有减脂需求的面包脑袋
1             人物类型    目标消费群体           @薯队长
2             人物类型     儿童、家长             图图
3             人物类型     儿童、家长             妈妈
4             人物类型     儿童、家长           大龙妈妈
...            ...       ...            ...
39359           时间        日常          今日碎碎念
39360           时间        日常           减肥打卡
39361           时间        日常           减肥日记
39362           时间        日常           减肥日常
39363           时间        春节           大年三十

[39364 rows x 3 columns]

0        False
1        False
2        False
3        False
4        False
         ...
39359     True
39360     True
39361     True
39362     True
39363    False
Name: keyword, Length: 39364, dtype: bool

In [11]:
df_dictionary = pd.read_sql("select tag_category, count(*) from tag_kwd_all group by 1", con = con)
df_dictionary

/var/folders/nx/d8ckq9qd7l3dz5plmv5gdj_40000gn/T/ipykernel_40167/302852661.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_dictionary = pd.read_sql("select tag_category, count(*) from tag_kwd_all group by 1", con = con)

  tag_category  count(*)
0         人物类型     28690
1           时间     10674

In [7]:
pd.read_sql("select  from tag_kwd_all limit 2", con = con)

/var/folders/nx/d8ckq9qd7l3dz5plmv5gdj_40000gn/T/ipykernel_40167/2794395346.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("select * from tag_kwd_all limit 2", con = con)

  tag_category tag_value        keyword
0         人物类型    目标消费群体  爱吃又有减脂需求的面包脑袋
1         人物类型    目标消费群体           @薯队长