In [3]:
!pip install mysql-connector-python==8.0.33

Collecting mysql-connector-python==8.0.33
  Downloading mysql_connector_python-8.0.33-cp310-cp310-macosx_12_0_arm64.whl.metadata (1.9 kB)
Collecting protobuf<=3.20.3,>=3.11.0 (from mysql-connector-python==8.0.33)
  Downloading protobuf-3.20.3-py2.py3-none-any.whl.metadata (720 bytes)
Downloading mysql_connector_python-8.0.33-cp310-cp310-macosx_12_0_arm64.whl (8.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.4/8.4 MB 1.5 MB/s eta 0:00:0000:0100:010m
Downloading protobuf-3.20.3-py2.py3-none-any.whl (162 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 162.1/162.1 kB 2.0 MB/s eta 0:00:00a 0:00:01
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.33 protobuf-3.20.3

In [5]:
import mysql.connector
import json 

confidentials = json.load(open('../confidential/allen_confidential.json'))

In [6]:
import mysql.connector

mydb = mysql.connector.connect(
    host = confidentials['host'],
    user = confidentials['user'],
    password = confidentials['password'],
    port = confidentials['port'],
)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

# mydb.close()

('douyin',)
('information_schema',)
('mysql',)
('performance_schema',)
('xiaohongshu',)

In [9]:
mycursor.execute("USE xiaohongshu")
mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('preprocessed_202304',)
('preprocessed_202305',)
('preprocessed_202306',)
('preprocessed_202307',)
('preprocessed_202308',)
('preprocessed_202309',)
('preprocessed_202310',)
('preprocessed_202311',)
('preprocessed_202312',)
('preprocessed_q1_202301',)
('preprocessed_q1_202302',)
('preprocessed_q1_202303',)
('preprocessed_q2_202304',)
('preprocessed_q2_202305',)
('preprocessed_q2_202306',)
('preprocessed_q3_202307',)
('preprocessed_q3_202308',)
('preprocessed_q3_202309',)
('preprocessed_q4_202310',)
('preprocessed_q4_202311',)
('preprocessed_q4_202312',)
('raw_q1_202301',)
('raw_q1_202302',)
('raw_q1_202303',)
('raw_q2_202304',)
('raw_q2_202305',)
('raw_q2_202306',)
('raw_q3_202307',)
('raw_q3_202308',)
('raw_q3_202309',)
('raw_q4_202310',)
('raw_q4_202311',)
('raw_q4_202312',)
('sample_v0506',)
('tag_kwd_all',)
('tag_kwd_character_type',)
('tag_kwd_emotional_atmosphere',)
('tag_kwd_food_category',)
('tag_kwd_food_usage',)
('tag_kwd_is_retail_food',)
('tag_kwd_macro_occasion',)
('tag_kwd_micro_occasion',)
('tag_kwd_painpoint',)
('tag_kwd_text_topic',)
('tag_kwd_text_type',)
('tag_kwd_time',)
('tag_kwd_topic_relevance',)
('tag_kwd_when',)
('tag_kwd_where',)
('tagged_content_sample',)
('tagged_content_sample_v0506',)

In [15]:
import pandas as pd
mycursor.execute("USE xiaohongshu")
pd.read_sql("select tag_category, count(*) from tag_kwd_all group by 1", con = mydb)

/var/folders/nx/d8ckq9qd7l3dz5plmv5gdj_40000gn/T/ipykernel_38527/2339926328.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("select tag_category, count(*) from tag_kwd_all group by 1", con = mydb)

  tag_category  count(*)
0         人物类型     27180
1           时间     10169

In [26]:
type(mydb)

mysql.connector.connection_cext.CMySQLConnection