In [2]:
import sys 
import os 
sys.path.insert(0, os.path.dirname(os.getcwd()))

from utils import get_connection
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import pickle 
from tqdm import tqdm

In [3]:
con = get_connection(database = 'preprocessed_post_cls')

connecting to rm-uf6lfxk83h7onjmwvjo.mysql.rds.aliyuncs.com3306/preprocessed_post_cls

In [8]:
pd.read_sql("show databases", con)

                       Database
0                        douyin
1            information_schema
2                         mysql
3            performance_schema
4         preprocessed_post_cls
5  preprocessed_post_cls_result
6                    validation
7                   xiaohongshu

In [11]:
import json 
confidential = json.load(open('../confidential/_confidential.json','r'))
confidential

{'host': 'rm-uf6lfxk83h7onjmwvjo.mysql.rds.aliyuncs.com',
 'user': 'allenliang',
 'password': 'ACNDTg79@j&wr4)q',
 'port': 3306}

In [45]:
from sqlalchemy import create_engine
from urllib.parse import quote  

h = confidential['host']

p = confidential['port']
u = confidential['user']
pwd = confidential['password']
db = 'preprocessed_post_cls'
print(pwd)
connect_string = f'mysql+pymysql://{u}:%s@{h}:{p}/{db}' % quote(pwd)

# print(connect_string)
engine = create_engine(connect_string)

ACNDTg79@j&wr4)q

In [46]:
pd.read_sql('show databases', engine)

                       Database
0                        douyin
1            information_schema
2                         mysql
3            performance_schema
4         preprocessed_post_cls
5  preprocessed_post_cls_result
6                    validation
7                   xiaohongshu

In [47]:
upladed

['']

In [51]:
from pandas.io import sql

DATAPATH = '/root/autodl-tmp/20m_tag'

file_ls = os.listdir(DATAPATH)


with open('log', 'a') as f:
    f.write('')

with open('log', 'r') as f:
    upladed = f.read().split('\n')

file_ls = list(map(lambda x: os.path.join(DATAPATH, x), file_ls))

file_ls = list(set(file_ls).difference(upladed))
 
for data_path in tqdm(file_ls):
    if data_path[-6:]=='pickle':  
        with open(data_path, 'rb') as f:
            df = pickle.load(f)
            df.to_sql(
                con=engine, 
                name='20m_id_tag', 
                if_exists='append', 
                index = False,
                method = 'multi',
                #chunksize = 5000,
                # dtype = {
                #     'id': "string",
                #     'occasion_cn': "string",
                #     'need_cn': "string",
                #     'who_cn': "string"
                # }
           )
        with open('log', 'a') as f:
            f.write('\n'+data_path)

    # break

100%|██████████| 1969/1969 [54:02<00:00,  1.65s/it]

In [53]:
pd.read_sql('select count(*) from preprocessed_post_cls.20m_id_tag', con)

   count(*)
0  19945000

In [49]:
with open('log', 'r') as f:
    upladed = f.read().split('\n')


upladed

['',
 '/root/autodl-tmp/20m_tag/batch1_2024-06-20_23:31:21.pickle',
 '/root/autodl-tmp/20m_tag/batch2_2024-06-21_08:09:31.pickle',
 '/root/autodl-tmp/20m_tag/batch2_2024-06-20_23:36:16.pickle',
 '/root/autodl-tmp/20m_tag/batch2_2024-06-21_03:02:25.pickle',
 '/root/autodl-tmp/20m_tag/batch2_2024-06-22_06:29:39.pickle',
 '/root/autodl-tmp/20m_tag/batch1_2024-06-21_03:26:11.pickle',
 '/root/autodl-tmp/20m_tag/batch1_2024-06-20_22:16:10.pickle',
 '/root/autodl-tmp/20m_tag/batch1_2024-06-21_10:27:16.pickle',
 '/root/autodl-tmp/20m_tag/batch1_2024-06-21_02:10:44.pickle',
 '/root/autodl-tmp/20m_tag/batch1_2024-06-21_14:49:36.pickle',
 '/root/autodl-tmp/20m_tag/batch2_2024-06-22_03:06:23.pickle',
 '/root/autodl-tmp/20m_tag/batch2_2024-06-21_11:57:20.pickle',
 '/root/autodl-tmp/20m_tag/batch1_2024-06-21_16:26:16.pickle',
 '/root/autodl-tmp/20m_tag/batch1_2024-06-21_01:47:25.pickle',
 '/root/autodl-tmp/20m_tag/batch1_2024-06-21_04:47:46.pickle',
 '/root/autodl-tmp/20m_tag/batch1_2024-06-21_01:16:11.pickle',
 '/root/autodl-tmp/20m_tag/batch1_2024-06-21_11:55:11.pickle',
 '/root/autodl-tmp/20m_tag/batch1_2024-06-20_21:25:21.pickle',
 '/root/autodl-tmp/20m_tag/batch2_2024-06-21_11:30:22.pickle']

In [57]:
pd.read_sql('show processlist', con)

,Id,User,Host,db,Command,Time,State,Info
0,48,replicator,21.28.216.97:47882,None,Binlog Dump GTID,5342934,Source has sent all binlog to replica; waiting...,None
1,49,event_scheduler,localhost,None,Daemon,5342934,Waiting on empty queue,None
2,315464,aliyun_root,127.0.0.1:37148,None,Sleep,19,,None
3,315466,aliyun_root,127.0.0.1:37300,None,Sleep,21,,None
4,315471,aliyun_root,127.0.0.1:37316,None,Sleep,292,,None
5,315473,aliyun_root,127.0.0.1:37320,None,Sleep,0,,None
6,334656,system user,connecting host,None,Connect,1786570,Waiting for source to send event,None
7,334657,system user,,None,Query,7,Replica has read all relay log; waiting for mo...,None
8,334658,system user,,None,Connect,1786570,Waiting for an event from Coordinator,None
9,334659,system user,,None,Connect,1786570,Waiting for an event from Coordinator,None
10,334660,system user,,None,Connect,1786570,Waiting for an event from Coordinator,None
11,334661,system user,,None,Connect,1786570,Waiting for an event from Coordinator,None
12,334662,system user,,None,Connect,1786570,Waiting for an event from Coordinator,None
13,334663,system user,,None,Connect,1786570,Waiting for an event from Coordinator,None
14,334664,system user,,None,Connect,1786570,Waiting for an event from Coordinator,None
15,334665,system user,,None,Connect,1786570,Waiting for an event from Coordinator,None
16,493960,allenliang,180.184.194.79:51658,preprocessed_post_cls,Query,0,init,show processlist
17,494050,allenliang,180.184.194.79:48528,preprocessed_post_cls,Sleep,38533,,None
18,496090,aurora,100.104.194.63:58529,None,Sleep,19659,,None
19,497859,aurora,100.104.194.63:48439,None,Sleep,12,,None
20,497876,allenliang,139.227.19.216:20879,None,Query,11,System lock,create table preprocessed_post_cls.id_content_...
21,497880,aurora,100.104.143.204:24288,information_schema,Sleep,56,,None
22,497891,aurora,100.104.194.63:40695,None,Sleep,12,,None